-f https://download.pytorch.org/whl/torch_stable.html 
torch
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
transformers
sentencepiece
py7zr
scipy
optimum
